.login-container {
  max-width: 400px;
  margin: 80px auto 0;
}

.login-container-title {
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.login-container .id-box>input,
.login-container .pw-box>input {
  width: 100%;
  padding: 10px 1rem;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  outline: none;
}


.login-container .id-box>input::placeholder,
.login-container .pw-box>input::placeholder {
  color: #999999;
  font-size: 0.6875rem;
}

.login-function-box {
  display: flex;
  font-size: 0.875rem;

  color: #555555;
}

.login-function-box .security {
  margin-right: auto;
}

.login-function-box .security>img {
  width: auto;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;

}

.login-function-box .find-id {
  margin-right: 10px;
}

.login-button {
  width: 100%;
  margin: 28px 0 25px;
  padding: 12px 0;
  font-weight: bold;
  position: relative;
}

.login-button a {
  position: relative;
  z-index: 1;
  color: #fff;
}


.login-button::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 0;

}

.login-button:hover {
  border: 1px solid #000;
}

.login-button:hover a {

  color: #000;
}

.login-button:hover::after {
  transform: translateX(0);

}

.quick-join-wrap {
  color: #2e2e2e;
}

.quick-join-wrap h5 {
  font-size: 0.875rem;
}

.quick-join-wrap h5+p {
  font-size: 0.8125rem;
}

.go-to-join {
  display: flex;
  justify-content: space-between;

  gap: 20px;
  margin-bottom: 25px;
}

.go-to-join-button {
  align-self: center;
  transition: all .3s
}

.go-to-join-button>a {
  white-space: nowrap;
}

.go-to-join-button:hover {
  background-color: #000;

}

.go-to-join-button:hover a {
  color: #fff;
}

.quick-login {
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
  .login-container {
    margin: 30px auto 0;
  }

  .login-container-title {
    display: none;
  }

  .login-function-box {
    font-size: 0.8125rem;
  }
}